-# Collect article cats containing a sort order meaning they will be in this feat section
-article_cats = @article_categories.reject{|ac| ac.sort_order.blank?}
-already_feat = []
-# Roll through them grabbing the ones that contain features and outputting the newest
%ul.blog-cats
  -article_cats.sort_by{|ac| ac.sort_order}.each do |ac|
    %li
      =link_to(ac.title, ac)
      -# Find an article if it is not in the already_feat array and is the first featured article in this section
      -article = ac.articles.published.reject{|a| already_feat.include?(a.id)}.reject{|a| a.features_count < 1}.first
      -if !article.blank?
        -already_feat << article.id
        %br
        =link_to(article.title, article)
        %br
        =article.blurb