-# Collect article cats containing a sort order meaning they will be in this feat section
-article_cats = @article_categories.reject{|ac| ac.sort_order.blank?}
-already_feat = []
-# Roll through them grabbing the ones that contain features and outputting the newest
#blog-cats
  %ul
    -article_cats.sort_by{|ac| ac.sort_order}.each do |ac|
      - article = ac.articles.published.reject{|a| a.features_count < 1}.first
      - #article = ac.articles.published.reject{|a| already_feat.include?(a.id)}.reject{|a| a.features_count < 1}.first
      -if !article.blank?
        %li
          %div
            %h2=link_to(ac.title, ac)
            -# Find an article if it is not in the already_feat array and is the first featured article in this section
            -already_feat << article.id
            =link_to(image_tag(article.images.first.image(:medium_thumb), :title => article.title, :alt => article.title), article) if article.images.any?
            %h3=link_to article.title, article
        = cycle("", "", "", "<li class=\"clear\"></li>") 

  .clear
- content_for :head do
  =# stylesheet_link_tag "/plugin_assets/noozhawk/stylesheets/newsblog-cats.css"
  %style{:type => "text/css"}
    div#blog-cats ul { list-style: none; margin: 0 -5px; padding: 0; }
    div#blog-cats li { display: block; float: left; padding: 5px; }
    div#blog-cats li div { width: 130px; }
    div#blog-cats h2 { font-size: .85em; }
    div#blog-cats h2 a { color: #efefef; display: block; padding: 4px; line-height: 1.2em; background: #666; font-family: Tahoma, Arial, Sans-Serif; }
    div #blog-cats h2 a:hover { background: #A70E13; }
    div#blog-cats h3 { font-size: 1em; padding: 0; font-weight: bold; line-height: 1.2em; }
    div#blog-cats h3 a:hover { text-decoration: underline; }
    div#blog-cats .date { margin: 4px 0; line-height: 1.2em; font-size: .9em; color: #A70E13; }
    div#blog-cats p { font-size: .8em; }
    div#blog-cats li.clear { width: 100%; height: 1px; border-top: 1px dotted #bbb; padding: 0; margin: 0; }
    div#blog-cats p { margin: 0; line-height: 1.2em; }
    div#blog-cats img { margin: 5px 0; }