%ul.recent_articles.list_of_links
  - for feature in features[0..3]
    %li
      %h2= link_to feature.featurable.title, feature.featurable
      %span.date= feature.featurable.published_at.strftime("%a, %B %d, %Y") if feature.featurable.class == Article
      %p= feature.featurable.description.blank? ? truncate(h(feature.featurable.blurb), :length => 100) : truncate(h(feature.featurable.description), :length => 100)
      = clear
