#locals-only.section-box
  %h1.locals_only_heading= link_to("Locals Only", ArticleCategory.find_by_name("Locals Only"))
  %ul
    - for article in articles[0...5]
      %li
        %div
          =link_to(image_tag(article.images.first.image(:large_thumb), :title => article.title, :alt => article.title), article) if article.images.any?
          %h3=link_to article.title, article
      = cycle("", "", "<li class=\"clear\"></li>") 

  .clear
- content_for :head do
  =# stylesheet_link_tag "/plugin_assets/noozhawk/stylesheets/newslocals-only.css"
  %style{:type => "text/css"}
    div#locals-only { border-bottom: 20px solid #000; }
    div#locals-only ul { list-style: none; margin: 0; padding: 0; }
    div#locals-only li { display: block; float: left; padding: 3px; }
    div#locals-only li div { width: 176px; }
    div#locals-only h1 a { color: #fff; }
    div#locals-only h1 a:hover { color: #fff; }
    div #locals-only h2 a:hover { background: #A70E13; color: #fff; }
    div#locals-only h3 { font-size: 1em; padding: 0; font-weight: bold; line-height: 1.2em; }
    div#locals-only h3 a:hover { text-decoration: underline; }
    div#locals-only .date { margin: 4px 0; line-height: 1.2em; font-size: .9em; color: #A70E13; }
    div#locals-only p { font-size: .8em; }
    div#locals-only li.clear { width: 100%; height: 1px; border-top: 1px dotted #bbb; padding: 0; margin: 0; }
    div#locals-only p { margin: 0; line-height: 1.2em; }
    div#locals-only img { margin: 5px 0; }
  