-slice = (@articles.size/2)
= render :partial => "/articles/article_for_list", :collection => @articles[0...slice]
%p{:style => "clear:both;text-align: center; margin: 10px;"}
  = @article_category.ad_code_1 if @article_category.ad_code_1
= render :partial => "/articles/article_for_list", :collection => @articles[slice..-1]
%p{:style => "clear:both;text-align: center; margin: 10px;"}
  = @article_category.ad_code_2 if @article_category.ad_code_2


