<p><div class="inset"><iframe id='aa4b9dbb' name='aa4b9dbb' src='http://d1.openx.org/afr.php?n=aa4b9dbb&amp;zoneid=6765&amp;cb=INSERT_RANDOM_NUMBER_HERE' framespacing='0' frameborder='no' scrolling='no' width='300' height='250'><a href='http://d1.openx.org/ck.php?n=a7809351&amp;cb=INSERT_RANDOM_NUMBER_HERE' target='_blank' rel="nofollow"><img src='http://d1.openx.org/avw.php?zoneid=6765&amp;cb=INSERT_RANDOM_NUMBER_HERE&amp;n=a7809351' border='0' alt='Advertisement' /></a></iframe> 
<script type='text/javascript' src='http://d1.openx.org/ag.php'></script> 
</div> 
</p> 